
*{
  margin: 0;
  padding: 0;
  color: #fff ;
}
nav{
  border-bottom: 2px solid black;
}
h3{
  color: #fff;
}
.article{
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 20px;
  padding-left: 5px;
  color: white;
}
body{
  background-color: #000;
}
form{
  color: white;
  margin-top: 15px;
  padding: 5px;
}
 .form{
   border: 2px solid black;
   border-radius: 20px;
 }
 .error-mess{
   color: #de7474;
   margin: 10px 0;
   display: none;
 }

hr{
  width: 250px;
}
.cabinet{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.info{
  width: 250px;
}

.info_right{
  float: right;
  width: 950px;
}
textarea {
	resize: vertical;
	width: 200px;
	height: 200px;
}
/* .del{
  display: none;

} */
.delete{
  margin: 10px;
  padding: 2px 5px;
  color: #000;
  border: 2px solid gray;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 1);
  background:linear-gradient(160deg, #666, #444);
 text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
 transition: all ease 0.5s;
}

.delete:hover{
  transform: scale(1.1);

}
