
*{
  margin: 0;
  padding: 0;
  color: #fff ;
}
nav{
  border-bottom: 2px solid black;
}
h3{
  color: #fff;
}
.article{
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 20px;
  padding-left: 5px;
  color: white;
}
body{
  background-color: #000;
}
form{
  color: white;
  margin-top: 15px;
  padding: 5px;
}
 .form{
   border: 2px solid black;
   border-radius: 20px;
 }
 .error-mess{
   color: #de7474;
   margin: 10px 0;
   display: none;
 }

hr{
  width: 250px;
}
.cabinet{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.info{
  width: 250px;
}

.info_right{
  float: right;
  width: 950px;
}
textarea {
	resize: vertical;
	width: 200px;
	height: 200px;
}
